.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared-style */
.navbar, .nav-item, .banner, .seller, .last-section{
    display: flex;
}
.link-color-one{
    color: #252432;
}
.link-clr-two{
    color: #8987A1;
}
.font-clr-black{
    color: #000000;
}
.font-clr-orange{
    color: #E95A08;
}
.para-clr{
    color: rgba(0, 0, 0, 0.5);
}
.btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
}


/* nav-related-style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px 150px;
}
.nav-item{
    gap: 48px;
}
.nav-links{
    list-style: none;
    font-size: 1rem;
}
.nav-links a:hover{
    color:lightcoral;
    font-size: larger;
}
.nav-ahref{
    text-decoration: none;
}

/* banner */
.banner{
    justify-content: space-between;
    padding: 0 150px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img img{
width: 100%;
max-width: 100%;
height: auto;
display: block;
}

/* Plant Section */
.plants{
    margin: 146px 150px;
    
}
.plants-title{
   text-align: center;
}
.plants-title-header{
    font-weight: 600;
    font-size: 3.2rem;
}
.plant-para{
    font-size: 1.3rem;
    font-weight: 200;
    
}
.plant-card{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
width: 100%;
max-width: 100%;
}
.card img{
    max-width: 100%;
}
.card-title, .card-price{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}
.btn-cart{
    align-items: center;
    width: 100%;

}
.btn-cart-ahref{
    text-decoration: none;
    color: #FFFFFF;
}
.btn-cart a:hover{
    color:black;
    font-size: larger;
}

/* seller section */
.seller{
    margin: 200px 150px 130px 150px;
    gap: 60px;
}
.seller-img{
    position: relative;
    width: 100%;
}
.badge{
    height: 250px;
    width: 250px;
    background: transparent;
    position: absolute;
    right: -10%;
    top: -20%;
    transform: translate(-0% -100%);
}
.seller-title{
    font-size: 3.12rem;
    font-weight: 600;
}
.seller-para{
    font-weight: 300;
    font-size: 1.4rem;
}
.seller-list > li{
    padding-bottom: 24px;
}

/* deal-content */
.deal-content{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.deal-img{
    display: flex;
    justify-content: center;
}
.deal-img{
    gap: 20px;
}
.fdh{
    font-size: 2rem;
    text-align: center;
}
.weird{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 13px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
}
.first-deal{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.first-deal-content-bloom{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/deal-bloom.png");
    background-repeat: no-repeat;
     background-size: cover;
     width: 367px;
     height: 201px;
     border-radius: 13px;
     text-align: center;
    color: #FFFFFF;
}
.first-deal-content-ana{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5)), url("../images/deal-ana.png");
    background-repeat: no-repeat;
     background-size: cover;
     width: 367px;
     height: 201px;
     border-radius: 13px;
     text-align: center;
    color: #FFFFFF;
}
.last-btn{
border: none;
color: antiquewhite;
}
.btn-last{
    background: transparent;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: bisque;
}
.btn-last a:hover{
    color: #000000;
    font-size: larger;
}


/* footer */
.footer-content{
    background-image: url("../images/news-letter-bg.png");
    background-size: cover;
    width: 1600px;
    height: 533px;
    max-width: 100%;
    margin: 120px 0;
   
}
.footer-title{
    font-size: 3.12rem;
    font-weight: 600;
    color:#FFFFFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 200px 0 0;
    
}
.footer-input{
    margin: 0px;
    margin-left: 250px;
    height: 36px;
    width: 800px;
    
}
.box-btn{
    display: flex;
    gap:0px;
}
.sub-btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.sub-btn a:hover{
    color:black;
}
.last-section{
    justify-content: space-between;
    margin: 50px 160px;
    gap: 20px;
}
.last-para{
    font-size: 1.4rem;
    font-weight: 200;
    width: 300px;
    height: 80px;
}
.last-part{

    justify-content: space-between;
    
}
.last-part-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.last-link{
    text-decoration: none;
    gap: 20px;
}
.last-part-img > a{
    margin-right: 20px;
}
.hover{
color: #8987A1;
}

/* Responsive Styles for mobile device*/
@media screen and (max-width: 576px) {
    
    html, .header, body, main{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        
    }
    .banner{
        flex-direction: column-reverse;
        width: 100%;
        max-width: 100%;
        margin: 0 10px 0 10px;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .navbar{
        margin: 10px;
        padding: 0;
        align-items: center;
        justify-content: space-between;
        gap: 20px
    }
    .nav-img{
        max-width: 120px;
        height: auto;
    }
    .hide-on-mobile{
        display: none;
    }
    .plants{
        margin: 0 auto;
        
    }
    .plants-title{
        flex-wrap: wrap;
        margin: 0 auto;
        margin-left: 15%;
       
    }
   .plant-card{
    grid-template-columns:repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 100%;
    
   }
   .card{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
   }
   .seller{
    flex-direction: column;
    margin: 0 auto;
    gap: 0;
   }
   
   .seller-content{
    flex-wrap: wrap;
    margin-bottom: 20px;
   }
   .seller-img{
  width: 100%;
   }
   .footer-content {
    width: 100%;
   }
   .footer-input{
    margin-left: 0;
   }
   .last-section{
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
   }
   .deal-img{
    flex-direction: column;
    align-items: center;
   }
   .weird{
    width: 85%;
    padding-top: 60px;
   }
  
   }