.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared-style */
.navbar, .nav-item, .banner, .seller{
    display: flex;
}
.link-color-one{
    color: #252432;
}
.link-clr-two{
    color: #8987A1;
}
.font-clr-black{
    color: #000000;
}
.font-clr-orange{
    color: #E95A08;
}
.para-clr{
    color: rgba(0, 0, 0, 0.5);
}
.btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
}


/* nav-related-style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px 150px;
}
.nav-item{
    gap: 48px;
}
.nav-links{
    list-style: none;
    font-size: 1rem;
}
.nav-links a:hover{
    color:lightcoral;
    font-size: larger;
}
.nav-ahref{
    text-decoration: none;
}

/* banner */
.banner{
    justify-content: space-between;
    margin: 0 150px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

/* Plant Section */
.plants{
    margin: 146px 150px;
    
}
.plants-title{
   text-align: center;
}
.plants-title-header{
    font-weight: 600;
    font-size: 3.2rem;
}
.plant-para{
    font-size: 1.3rem;
    font-weight: 200;
    
}
.plant-card{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
width: 100%;
max-width: 100%;
}
.card img{
    max-width: 100%;
}
.card-title, .card-price{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}
.btn-cart{
    align-items: center;
    width: 100%;

}
.btn-cart-ahref{
    text-decoration: none;
    color: #FFFFFF;
}
.btn-cart a:hover{
    color:black;
    font-size: larger;
}

/* seller section */
.seller{
    margin: 200px 150px 130px 150px;
    gap: 60px;
}
.seller-img{
    position: relative;
    width: 50%;
}
.badge{
    height: 250px;
    width: 250px;
    background: transparent;
    position: absolute;
    right: -10%;
    top: -20%;
    transform: translate(-0% -100%);
}
.seller-title{
    font-size: 3.12rem;
    font-weight: 600;
}
.seller-para{
    font-weight: 300;
    font-size: 1.4rem;
}
.seller-list > li{
    padding-bottom: 24px;
}


/* Responsive Styles for mobile device*/
@media screen and (max-width: 576px) {
    
    .header, body, main{
        width: 100%;
        margin: auto;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .navbar{
        margin: 10px 50px;
        gap: 100px
    }
    .banner{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        flex-wrap: wrap; 
    }
    
    .hide-on-mobile{
        display: none;
    }
    .plants{
        margin: 0 auto;
        
    }
    .plants-title{
        flex-wrap: wrap;
        margin: 0 auto;
        margin-left: 15%;
       
    }
   .plant-card{
    grid-template-columns:repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        margin-left: 50px;
   }
   .card{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
   }
   .seller{
    flex-direction: column;
    margin: 0 auto;
    gap: 0;
   }
   .badge{
    display: none;
   }
   .seller-content{
    flex-wrap: wrap;
    margin-bottom: 20px;
   }
   .seller-img{
  width: 50%;
   }
   }