.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared-style */
.navbar, .nav-item, .banner{
    display: flex;
}
.link-color-one{
    color: #252432;
}
.link-clr-two{
    color: #8987A1;
}
.font-clr-black{
    color: #000000;
}
.font-clr-orange{
    color: #E95A08;
}
.para-clr{
    color: rgba(0, 0, 0, 0.5);
}
.btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
}


/* nav-related-style */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px 150px;
}
.nav-item{
    gap: 48px;
}
.nav-links{
    list-style: none;
    font-size: 1rem;
}
.nav-links a:hover{
    color:lightcoral;
    font-size: larger;
}
.nav-ahref{
    text-decoration: none;
}

/* banner */
.banner{
    justify-content: space-between;
    margin: 0 150px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

/* Plant Section */
.plants{
    margin: 146px 150px;
    
}
.plants-title{
   text-align: center;
}
.plants-title-header{
    font-weight: 600;
    font-size: 3.2rem;
}
.plant-para{
    font-size: 1.3rem;
    font-weight: 200;
    
}
.plant-card{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
}
.card img{
    max-width: 100%;
}
.card-title, .card-price{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}
.btn-cart{
    align-items: center;
    width: 100%;

}
.btn-cart-ahref{
    text-decoration: none;
    color: #FFFFFF;
}
.btn-cart a:hover{
    color:black;
    font-size: larger;
}



/* Responsive Styles for mobile device*/
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
    }
    .navbar{
        margin: 10px 50px;
        gap: 100px
    }
    .banner{
        margin: 30px;
        flex-wrap: wrap;
        width: 100%;
    }
    .hide-on-mobile{
        display: none;
    }
    .plants{
        margin: 0 auto;
    }
    .plants-title{
        flex-wrap: wrap;
    }
   .plant-card{
    grid-template-columns:repeat(2, 1fr);

   }
}